.sectionBrandMain{
  background-color: #000000;
  padding-top: 30px;
}

.titleBrand{
  color: #FFFFFF;
  font-family: Manrope;
  font-size: 31px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.015em;
  text-align: center;
  padding: 15px 0px;
}

.horizontalBarBrand{
  background-color: #FFFFFF;
  width: 98%;
  height: 2px;
  margin: auto;
}

.sectionTypography{
  width: 90%;
  margin: auto;
  display: flex;
  padding-top: 15px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.sectionTypography div p{
  color: #FFFFFF;
}

.typoManroque{
  font-family: Manrope;
  font-size: 32px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: -0.015em;  
}

.typoDT{
  font-size: 100px;
  font-weight: 400;
  line-height: 120px;
  letter-spacing: -0.015em;
}

.typoLMagique{
  font-size: 100px;
  font-weight: 400;
  line-height: 151px;
  letter-spacing: -0.015em;
}

.imgTypography{
  width: 30%;
}

.sectionProcessus{
  display: grid;
  width: 90%;
  margin: auto;
  padding-top: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.sectionProcessus p{
  color: #FFFFFF;
  font-family: Manrope;
  font-size: 32px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: -0.015em;
  text-align: center;
}

.sectionLogo{
  display: flex;
  width: 90%;
  margin: auto;
  padding-top: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
}

.sectionLogo p{
  color: #FFFFFF;
  font-family: Manrope;
  font-size: 28px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: -0.015em;
  text-align: center;
}

.sectionCurriculemVitae{
  width: 90%;
  margin: auto;
  padding-top: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.sectionWebsite{
  padding-top: 30px;
}

.sectionExperienceDegree{
  width: 90%;
  margin: auto;
  padding-top: 30px;
}

.sectionContact{
  width: 90%;
  margin: auto;
  padding-top: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.sectionContact h2 {
  color: #FFFFFF;
  font-family: Mohave;
  font-size: 180px;
  font-weight: 600;
  line-height: 278px;
}

@media (max-width: 430px){
  .sectionBrandMain{
    border-radius: 0px 0px 16px 16px;
  }

  .sectionTypography{
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .typoManroque{
    font-size: 12px;
    padding-top: 30px;
    font-weight: 600;
    line-height: 16.39px;
    letter-spacing: -0.015em;
    text-align: center;
  }
  
  .typoDT{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.015em;
    text-align: center;
  }
  
  .typoLMagique{
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -0.015em;
    text-align: center;
  }

  .imgTypography{
    width: 90%;
  }

  .sectionProcessus{
    display: grid;
    width: 80%;
    margin: auto;
    padding-top: 30px;
    grid-template-columns: repeat(1, 2fr);
    grid-row-gap: 20px;
  }

  .sectionProcessus p{
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: -0.015em;
    text-align: center;
  }

  .sectionLogo{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 30px;
    flex-direction: column;
  }
  
  .sectionLogo p{
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: -0.015em;
    text-align: center;
  }

  .sectionContact{
    width: 80%;
    margin: auto;
    padding-top: 35px;
  }

  .sectionContact img{
    width: 50%;
  }
  
  .sectionContact h2 {
    color: #FFFFFF;
    font-family: Mohave;
    font-size: 72px;
    font-weight: 600;
    line-height: 100.4px;
  }
}

@media (min-width:431px) and (max-width: 768px){
  .sectionBrandMain{
    border-radius: 0px 0px 16px 16px;
  }

  .sectionTypography{
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .typoManroque{
    font-size: 12px;
    padding-top: 30px;
    font-weight: 600;
    line-height: 16.39px;
    letter-spacing: -0.015em;
    text-align: center;
  }
  
  .typoDT{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.015em;
    text-align: center;
  }
  
  .typoLMagique{
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -0.015em;
    text-align: center;
  }

  .imgTypography{
    width: 90%;
  }

  .sectionProcessus{
    display: grid;
    width: 80%;
    margin: auto;
    padding-top: 30px;
    grid-template-columns: repeat(1, 2fr);
    grid-row-gap: 20px;
  }

  .sectionProcessus p{
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: -0.015em;
    text-align: center;
  }

  .sectionLogo{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 30px;
    flex-direction: column;
  }
  
  .sectionLogo p{
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: -0.015em;
    text-align: center;
  }

  .sectionContact{
    width: 80%;
    margin: auto;
    padding-top: 35px;
  }

  .sectionContact img{
    width: 50%;
  }
  
  .sectionContact h2 {
    color: #FFFFFF;
    font-family: Mohave;
    font-size: 72px;
    font-weight: 600;
    line-height: 100.4px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .sectionProcessus{
    display: grid;
    width: 90%;
    margin: auto;
    padding-top: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .sectionProcessus p{
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: -0.015em;
    text-align: center;
  }

  .sectionLogo p{
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: -0.015em;
    text-align: center;
  }

  .sectionLogo img{
    width: 50%;
  }
}