.main_color {
  width: 100%;
  padding: 6%;
}

.main_color div {
  border-radius: 22px;
  border: 0.69px solid;
  padding-left: var(--space-left);
  padding-bottom: var(--space-top);
  padding-top: 30%;
}

.main_color div p {
  font-family: var(--first-font);
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
}
