.main_top {
  width: auto;
  padding-left: var(--space-left);
  padding-right: var(--space-right);
  padding-top: var(--space-top);
}

.main_top a {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
