.navbar {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.DESKTOP-MENU {
  background-color: #b1baf6;
  padding: 10px 0px;
}

.DESKTOP-MENU li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-style: normal;
  line-height: 45px;
  font-size: 24px;
  font-optical-sizing: auto;
  padding: 15px 25px;
}

.item1 {
  background-color: #0123ff;
  padding: 15px 25px;
}

.MENU-LINK-MOBILE-OPEN LI a {
  font-size: 64px;
  font-weight: 600;
  line-height: 89.15px;
  text-align: left;
  color: white;
  text-decoration: none;
}

.burgerMenuIcon {
  background-color: #0123ff;
  padding: 20px 15px;
  border-radius: 30px;
}

.burgerMenuSpan {
  background-color: white;
}

.hideMenuNav {
  display: none;
}

.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0123ff;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.iconBurgerMenu {
  color: white;
}

.navbarPage {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbarMain {
  margin-top: -25px;
}

@media (max-width: 430px) {
  .navbarPage {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 30px;
    padding-right: 30px;
    position: fixed;
  }

  .navbarMain {
    margin-top: 0px;
    display: flex;
    justify-content: end;
  }
}

@media (min-width: 431px) and (max-width: 768px) {
  .navbarPage {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 30px;
    padding-right: 30px;
    position: fixed;
  }

  .navbarMain {
    margin-top: 0px;
    display: flex;
    justify-content: end;
  }
}

@media (min-width: 769px) and (max-width: 960px) {
  .navbarPage {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 30px;
    padding-right: 30px;
    position: fixed;
  }

  .navbarMain {
    margin-top: 0px;
    display: flex;
    justify-content: end;
  }
}

@media (min-width: 769px) and (max-width: 1016px) {
  .navbarPage {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 30px;
    padding-right: 30px;
    position: fixed;
  }
}
