.legal-container {
  margin-left: 10%;
  margin-right: 10%;
}

.legal-section p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.legal-title {
  display: flex;
  justify-content: center;
}

.legal-link {
  color: #000;
  font-size: 1.02rem;
  display: flex;
  align-items: center;
  transition: color 0.15s;
  font-weight: 400;
  letter-spacing: -0.2px;
  font-style: Regular;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0px;
}

.legal-link:hover {
  color: #0070f3;
}
