@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #000000;
  --primary-color: white;
  --secondary-color: #232c1b;
  --third-color: #812228;
  --fourth-color: #000000;
  --fifth-color: #f3b7f9;
  --sixth-color: #1e242b;
  --first-font: 'MuseoModerno', sans-serif;
  --color-progress: #0123ff;
  --color_not_progress: #d9d9d9;
  --space-left: 5%;
  --space-right: 5%;
  --space-top: 5%;
  --space-bottom: 5%;
  --height: 100vh;
}

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
}

.hero {
  width: 100%;
  height: var(--height);
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: var(--height);
  width: 500vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  width: 100%;
  height: var(--height);
}

.content-section {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.content-section img {
  color: transparent;
  position: absolute !important;
  z-index: -1 !important;
}

.content-section a {
  color: var(--primary-color);
  font-size: 100px;
  font-weight: 400;
}
