@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #000000;
  --primary-color: white;
  --secondary-color: #232c1b;
  --third-color: #812228;
  --fourth-color: #000000;
  --fifth-color: #f3b7f9;
  --sixth-color: #1e242b;
  --first-font: 'MuseoModerno', sans-serif;
  --color-progress: #0123ff;
  --color_not_progress: #d9d9d9;
  --space-left: 5%;
  --space-right: 5%;
  --space-top: 5%;
  --space-bottom: 5%;
  --height: 75vh;
}

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
}

.hero {
  width: 100%;
  height: var(--height);
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: var(--height);
  width: 500vw;
  display: flex;
  flex-direction: row;
}

.scroll-section {
  width: 100%;
  height: var(--height);
  flex: 1;
}

.content-section {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.content-section img {
  color: transparent;
  position: absolute !important;
  z-index: -1 !important;
  width: auto;
}

.content-section a {
  color: var(--primary-color);
  font-size: 100px;
  font-weight: 400;
}

.notFound {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.notFound h2 {
  color: var(--primary-color);
  font-size: 65px;
  font-weight: 400;
  line-height: 76px;
}

.allproject {
  width: auto;
  padding-left: var(--space-left);
  padding-right: var(--space-right);
  padding-bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.allproject a {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: 1000px) and (max-width: 1439px) {
  .content-section {
    height: 70vh;
  }
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .content-section {
    height: 70vh;
  }
}

@media (max-width: 430px) {
  .content-section {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .content-section a {
    color: var(--primary-color);
    font-size: 50px;
    font-weight: 400;
  }

  .content-section img {
    color: transparent;
    position: absolute !important;
    z-index: -1 !important;
    height: auto;
    width: 18%;
  }
}
