@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

.hero1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.hero1 p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}

.content {
  margin-top: 7%;
  padding-right: 10%;
  padding-left: 10%;
}

.content img {
  margin-top: 7%;
  border-radius: 32px;
}

.block_intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 7%;
}

.main_bottom {
  width: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: var(--space-top);
  padding-bottom: var(--space-top);
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.introduction {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.introduction_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.introduction_content h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

.introduction_content p {
  font-family: var(--first-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 10px 10px;
  border: 1px solid #ffffff;
  border-radius: 99px;
}

.introduction_p {
  font-family: var(--first-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  padding-top: 30px;
}

.techs {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.techs h3 {
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

.techs p {
  font-family: var(--first-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.wrapImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 0px;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-between;
  justify-items: stretch;
}

.wrapImg img {
  width: auto;
}

.block_mission {
  display: flex;
  flex-direction: row;
  margin-top: 7%;
  margin-bottom: 7%;
  justify-content: space-between;
}

.block_mission div {
  width: 40%;
}

.block_mission div h3 {
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

.block_mission div p {
  font-family: var(--first-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.block_other {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  margin-bottom: 7%;
}

.block_other div h3,
.block_random div h3 {
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

.block_color {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.signification {
  width: 30%;
}

.signification h3 {
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

.signification p {
  font-family: var(--first-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.wrap_color {
  width: 65%;
}

.wrap_color h3 {
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

.block_end {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  margin-bottom: 7%;
}

.block_end div div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
  font-family: var(--first-font);
  font-size: 21px;
  font-weight: 400;
  line-height: 34px;
}

.block_other div div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.block_random div div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
}

.border {
  width: 240px;
  height: 50px;
  gap: 0px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-bottom: -70px;
}

@media (max-width: 430px) {
  .hero1 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
  }

  .block_intro {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7%;
    flex-direction: column;
  }

  .introduction_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .introduction_content p {
    margin-top: 20px;
  }

  .techs {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .techs h3 {
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
  }

  .block_mission {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-bottom: 7%;
    justify-content: space-between;
  }

  .block_mission div {
    width: 100%;
    margin-top: 5%;
  }

  .block_color {
    display: flex;
    flex-direction: column;
  }

  .wrap_color_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(3, 1fr) !important;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-right: 20px;
  }

  .signification {
    width: 100%;
    margin-top: 5%;
  }

  .wrap_color {
    width: 100%;
  }

  .block_other div div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: 431px) and (max-width: 768px) {
  .block_mission div {
    width: 48%;
  }

  .block_color {
    display: flex;
    flex-direction: column;
  }

  .wrap_color {
    width: 100%;
  }

  .signification {
    width: 100%;
    margin-top: 5%;
  }

  .block_intro {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7%;
    flex-direction: column;
  }

  .techs {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .techs h3 {
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
  }

  .block_other div div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .introduction_content h3 {
    font-size: 22px;
  }

  .introduction_content p {
    font-size: 15px;
  }
}

@media (min-width: 769px) and (max-width: 1440px) {
  .introduction {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  .introduction_content h3 {
    font-size: 22px;
  }

  .introduction_content p {
    font-size: 15px;
  }
}

@media (min-width: 2000px) {
  .block_mission div {
    width: 48%;
  }
}
