@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,600;1,600&display=swap');

body {
  margin: 0%;
  padding: 0%;
  width: 100% !important;
  background-color: #FBEFDF;
  font-size: 20px;
  font-family: "Mohave", sans-serif;
}

html{
  scroll-behavior: smooth;
}

.homePage{
  height: 100vh;
  width: auto;
  display: block;
}

.homeMain{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.flexMain{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.homeMain img{
  margin-right: 8%;
}

.homeMain div div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

.titleNumber{
  font-size: 20px;
  font-weight: 400;
  line-height: 32.88px;
  color: black;
  margin: 0%;
}

.titleHome{
  color: #0123FF;
  font-size: 160px;
  font-weight: 600;
  margin: 0%;
}

.titleUi{
  font-size: 80px;
  font-weight: 400;
  line-height: 140px;
  color: black;
  margin: 0%;
}

.titleHumour{
  font-size: 20px;
  font-weight: 400;
  line-height: 32.88px;
  color: black;
}

.workPage {
  height: 95vh;
  /* background-image: url("./assets/img/background.svg"); */
}

.aboutPage {
  height: 95vh;
  display: block;
  margin: 40px 45px;
}

.navbar{
  padding-top: 65px;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.navbar a{
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-style: normal;
  line-height: 45px;
  font-size: 24px;
  font-optical-sizing: auto;
}

.aboutMain{
  display: flex;
  padding-left: 5%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.footerAboot{
  display: flex;
  padding-left: 45px;
}

.footerAboot p{
  margin-right: 15px;
}

.experienceTab,
.degreeTab{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.experienceTab h3,
.degreeTab h3{
  width: 10%;
}

.experienceTab ul,
.degreeTab ul{
  display: flex;
}

.experienceLink,
.degreeLink{
  margin-right: 35px;
  width: 20%;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
}

.skillLink{
  margin-right: 35px;
  width: 30%;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
}