.main {
  background-color: var(--third-color);
  padding-left: 5%;
  padding-right: 5%;
}
  
.wrap_color_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-right: 20px;
}

.img_salamander{
  border-radius: 0px !important;
  width: 100%;
}