.titleDesign{
  font-size: 90px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 122px;
  text-align: left;
  margin: 0%;
  margin-left: 10px;
  margin-top: 5%;
  margin-bottom: 30px;
}

.main{
  padding: 40px;
}

.titleDesign1{
  display: block;
  font-family: Manrope;
  font-size: 90px;
  font-weight: 600;
  line-height: 122px;
  margin: 0%;
}

.titletype{
  margin: 40px 0px;
}

.titleDesignMobileid,
.titleDesignMobile{
  display: none;
}

.btnAplication {
  text-align: center;
  padding: 30px 10px;
  border-radius: 20px;
  border: 0.5px solid #151515;
  width: 25%;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #151515;
  margin-top: -82px;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.top p{
  font-size: 24px;
  font-weight: 400;
  line-height: 33.43px;
  letter-spacing: -0.03em;
}

.section{
  padding-top: 20px;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
}

.imgTopProject{
  width: 100%;
}

.imgDesign{
  width: 100%;
  height: auto;
}

.concept{
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 5%;
  border-radius: 10px;
}

.conceptImg {
  width: 100%;
  height: auto;
}

.concept h4{
  font-size: 128px;
  font-weight: 800;
  line-height: 174.85px;
  margin: 0%;
}

.designMobile,
.imgDesignMobile,
.imgTopProjectMobile{
  display: none;
}

.wireframeimg{
  height: auto;
  width: 100%;
}

.wireframe img {
  width: 90%;
  height: auto;
}

.separationBar{
  width: 100%;
  margin-top: 5%;
}

.ojectifImg{
  width: 100%;
}

.content{
  background-color: #F9F0F0;
  padding: 30px;
  padding-bottom: 0px;
}

.sprint{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.sprint img{
  width: 100%;
  height: auto;
}

.wireframe {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.pitch{
  display: flex;
}

.pitchcontent{
  width: 40%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.pitchbotom{
  width: 50%;
}

.pitchcontent h5,
.pitchbotom h5{
  font-size: 40px;
  font-weight: 700;
  line-height: 54.64px;
  margin: 0%;
}

.pitchbotom ul {
 padding: 0%;
}

.pitchbotom ul li{
  font-size: 32px;
  font-weight: 400;
  line-height: 43.71px;
  margin: 0%;
  list-style-type: none;
}

.pitchcontent p{
  font-size: 32px;
  font-weight: 400;
  line-height: 43.71px;
  margin: 0%;
}

.numberObjectif{
  font-size: 30px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: -0.03em;
  margin: 0%;
  padding: 5px 20px;
  border-radius: 50px;
  background-color: #F7CD46;
  gap: 10.81px;
  border-radius: 37.84px;
  font-size: 30px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: -0.03em;
}

.numberObjectifHestia{
  font-size: 30px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: -0.03em;
  margin: 0%;
  padding: 8px 20px;
  border-radius: 50px;
  background-color: #5552EF;
  gap: 11px;
  border-radius: 38px;
  font-size: 30px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  width: auto !important;
}

.detailObjectifHestia{
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: -0.03em;
  border-bottom: none !important;
}

.objectifHestia div{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
}

.objectif,
.objectifHestia{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-top: 8%;
}

.objectif div{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.objectif div h5,
.objectifHestia div h5{
  font-size: 36px;
  font-weight: 700;
  line-height: 49.18px;
  letter-spacing: -0.03em;
  margin: 0%;
}

.objectif div ul li{
  font-size: 24px;
  font-weight: 400;
  line-height: 32.78px;
  letter-spacing: -0.03em;
  text-align: center;
  list-style-type: none;
}

.matrice{
  display: flex;
}

.behancelink{
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 430px){
  .main {
    padding: 30px;
  }

  .top{
    display: flex;
    justify-content: flex-end
  }

  .top img,
  .top p{
    display: none;
  }

  .titletype{
    margin: 15px 0px;
  }

  .section {
    background-color: #F9F0F0;
    padding-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    padding: 10px;
  }

  .btnAplication {
    text-align: center;
    padding: 15px 10px;
    border-radius: 20px;
    border: 0.5px solid #151515;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #151515;
  }

  .content p{
    font-size: 24px;
    font-weight: 600;
    line-height: 32.78px;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
    padding-bottom: 10px;
  }

  .imgTopProject{
    display: none;
  }

  .wireframeimg {
    height: auto;
    width: 100%;
  }

  .imgDesignMobile{
    width: 100%;
    height: auto;
    display: block;
  }

  .titleDesignMobileid,
  .titleDesignMobile {
    display: block;
  }

  .titleDesignMobileid{
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
  }

  .titleDesignMobile{
    font-size: 32px;
    font-weight: 600;
    line-height: 45px;
  }

  .numberObjectif {
    padding: 10px 20px;
    width: auto !important;
  }

  .objectif,
  .objectifHestia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-top: 8%;
  }

  .objectif div,
  .objectifHestia div {
    width: 100%;
    margin-bottom: 20px;
  }

  .conceptImg{
    width: 100%;
    height: auto;
  }

  .concept h4 {
    font-size: 43px;
    font-weight: 800;
    line-height: 60px;
  }

  .imgTopProjectMobile {
    width: 100%;
    height: auto;
    display: block;
  }

  .titleDesign1{
    display: none;
  }

  .titleDesign{
    font-size: 30px;
    font-weight: 600;
    line-height: 33px;
    margin-left: 0%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .pitch {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .pitchcontent {
    width: 100%;
    margin-right: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
  }

  .pitchcontent p,
  .pitchbotom ul li {
    font-size: 22px;
    font-weight: 400;
    line-height: 30.05px;
  }

  .pitchcontent h5,
  .pitchbotom h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32.78px;
    margin: 10px 0px;
  }

  .pitchbotom ul {
    padding: 0%;
    margin: 0%;
  }

  .pitchbotom {
    width: 100%;
  }

  .separationBar,
  .ojectifImg{
    display: none;
  }

  .sprint {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(0, 0);
    justify-content: start;
    align-items: start;
    justify-items: start;
  }

  .sprint img {
    width: 100%;
    height: auto;
  }

  .wireframe {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .wireframe img {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
  }

  .imgDesign {
    display: none;
  }
}

@media (min-width:431px) and (max-width: 768px) {
  .main {
      padding: 30px;
    }
  
  .section {
    padding-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    padding: 10px;
  }

  .top {
    display: flex;
    justify-content: flex-end
  }

  .top img,
  .top p {
    display: none;
  }

  .titletype {
    margin: 20px 0px;
  }

  .content p {
    font-size: 24px;
    font-weight: 600;
    line-height: 32.78px;
    border-bottom: 1px solid #CCCCCC;
    width: auto;
    padding-bottom: 10px;
  }

  .titleDesignMobileid,
  .titleDesignMobile {
    display: block;
  }

  .titleDesignMobileid {
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
  }

  .titleDesignMobile {
    font-size: 32px;
    font-weight: 600;
    line-height: 45px;
  }

  .btnAplication {
    text-align: center;
    padding: 15px 10px;
    border-radius: 20px;
    border: 0.5px solid #151515;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #151515;
  }

  .imgTopProject {
    display: none;
  }

  .wireframeimg {
    height: auto;
    width: 100%;
  }

  .imgTopProjectMobile {
    width: 100%;
    height: auto;
    display: block;
  }

  .titleDesign1 {
    display: none;
  }

  .titleDesign {
    font-size: 30px;
    font-weight: 600;
    line-height: 33px;
    margin-left: 0%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .pitch {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .pitchcontent {
    width: 100%;
    margin-right: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
  }

  .pitchcontent p,
  .pitchbotom ul li {
    font-size: 22px;
    font-weight: 400;
    line-height: 30.05px;
  }

  .pitchcontent h5,
  .pitchbotom h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32.78px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .pitchbotom ul {
    padding: 0%;
    margin: 0%;
  }

  .pitchbotom {
    width: 100%;
  }

  .separationBar,
  .ojectifImg {
    display: none;
  }

  .sprint {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(0, 0);
    justify-content: start;
    align-items: start;
    justify-items: start;
  }

  .sprint img {
    width: 100%;
    height: auto;
  }

  .wireframe {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .wireframe img {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
  }

  .imgDesign {
    display: block;
    width: 100%;
    height: auto;
  }

  .imgDesignMobile{
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .imgTopProject {
    width: 100%;
    height: auto;
  }

  .wireframe {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
  }

  .btnAplication {
    text-align: center;
    padding: 16px 10px;
    border-radius: 20px;
    border: 0.5px solid #151515;
    width: 25%;
    margin-left: auto;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #151515;
    margin-top: -46px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .wireframe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .wireframe img{
    width: 80%;
    height: auto;
  }

  .btnAplication {
    text-align: center;
    padding: 16px 10px;
    border-radius: 20px;
    border: 0.5px solid #151515;
    width: 25%;
    margin-left: auto;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #151515;
    margin-top: -60px;
  }
}

@media (min-width: 1441px) and (max-width: 1650px) {
  .btnAplication {
    text-align: center;
    padding: 16px 10px;
    border-radius: 20px;
    border: 0.5px solid #151515;
    width: 25%;
    margin-left: auto;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #151515;
    margin-top: -60px;
  }
}
