.aboutMain {
  padding-left: var(--space-left);
  padding-right: var(--space-right);
  padding-top: var(--space-top);
}

.content_allproject {
  padding-right: var(--space-right);
  padding-left: var(--space-left);
  padding-bottom: var(--space-bottom);
}

.top_allproject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  flex-wrap: nowrap;
  padding-top: var(--space-top);
  margin-bottom: 5%;
}

.top_allproject div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  width: 50%;
}

.title1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 76px;
}

.title2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

.title_list {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  text-decoration: none;
  display: block;
  width: auto;
}

.title_list_sooon {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 25px;
  padding-bottom: 20px;
  width: 20%;
}

.comingSoonProject {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid white;
}

@media (max-width: 430px) {
  .content_allproject {
    margin-top: 7%;
  }

  .title1 {
    font-size: 55px;
  }

  .top_allproject {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    padding-top: var(--space-top);
    margin-bottom: 5%;
  }

  .top_allproject div {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .title_list_sooon {
    width: auto;
    padding-right: 10px;
  }
}

@media (min-width: 431px) and (max-width: 768px) {
  .top_allproject {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    flex-wrap: nowrap;
    padding-top: var(--space-top);
    padding-left: var(--space-left);
    padding-right: var(--space-right);
    margin-bottom: var(--space-top);
  }

  .top_allproject div {
    width: 100%;
  }

  .title_list_sooon {
    width: 40%;
  }
}
